.roadmap-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1840' height='3500' preserveAspectRatio='none' viewBox='0 0 1840 3500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3crect width='1840' height='3500' x='0' y='0' fill='rgba(10%2c 97%2c 188%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1389.137C271.299%2c1412.177%2c555.476%2c1367.835%2c781.257%2c1215.66C1004.936%2c1064.902%2c1082.437%2c787.793%2c1228.587%2c561.077C1403.544%2c289.675%2c1784.44%2c69.362%2c1724.783%2c-247.986C1664.4%2c-569.195%2c1198.92%2c-607.794%2c965.793%2c-836.864C759.348%2c-1039.716%2c717.652%2c-1417.313%2c442.713%2c-1507.742C168.123%2c-1598.056%2c-99.022%2c-1363.151%2c-375.236%2c-1277.935C-646.838%2c-1194.142%2c-942.805%2c-1185.958%2c-1166.923%2c-1011.144C-1417.461%2c-815.722%2c-1657.88%2c-559.362%2c-1700.2%2c-244.452C-1742.44%2c69.867%2c-1578.169%2c380.075%2c-1387.992%2c633.874C-1219.671%2c858.505%2c-946.952%2c955.668%2c-700.392%2c1089.831C-472.771%2c1213.689%2c-258.208%2c1367.209%2c0%2c1389.137' fill='%23084d95'%3e%3c/path%3e%3cpath d='M1840 4540.53C2036.709 4551.84 2218.781 4453.68 2387.625 4352.122 2560.669 4248.037 2741.251 4133.572 2823.323 3949.068 2905.1059999999998 3765.213 2889.5730000000003 3549.86 2829.987 3357.661 2775.369 3181.485 2640.303 3049.206 2505.361 2923.4610000000002 2382.498 2808.9719999999998 2245.351 2715.39 2085.497 2663.9139999999998 1922.496 2611.425 1750.43 2588.196 1583.554 2626.625 1410.417 2666.496 1239.308 2744.6549999999997 1129.243 2884.125 1021.155 3021.091 1020.051 3205.898 990.686 3377.887 960.485 3554.774 892.384 3735.99 955.094 3904.123 1019.296 4076.257 1182.252 4184.126 1331.403 4291.392 1487.8319999999999 4403.892 1647.636 4529.47 1840 4540.53' fill='%230c75e4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='1840' height='3500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: bottom;
}
.roadmap-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    flex-direction: column;
}
.tabs-container{
    width: 40%;
    align-self: flex-start;
}
.tab-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.tab-img-container{
  width: 50%;
  height: 100%;
  padding: 20px;
}
.tab-img-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tab-text{
  height: 100%;
  width: 50%;
  backdrop-filter: blur(1px);
  padding: 40px 20px;
  text-align: left;
}
.tab-text h2{
  font-family: poppins,monserrat,roboto;
  text-transform: capitalize;
  color: var(--dark);
  font-size: 2rem;
  font-weight: 400;
}

.thin-line{
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--dark);
  margin-top: 10px;
}
.tab-text p{
  color: var(--dark-mild);
  margin: 20px 0px;
}

.tab-text ul li{
  color: var(--dark-mild);
  transition: all .3s ease-in-out;
  cursor: pointer;
  margin: 13px 0px;
  font-family: lato;
  font-size: .9rem;
  text-transform: capitalize;
  line-height: 22px;
}
.tab-text ul li svg{
  margin-right: 10px;
  color: var(--color-varient);
}
.tab-text ul li:hover{
  margin-left: 5px;
}
.wrapper {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.wrapper .icon svg{
  color: var(--color-variant);
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto;
}
.wrapper .icon {
  position: relative;
  background: white;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  min-width: 100px;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span svg{
  color: white;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: var(--color-variant);
  color: #fff;
}
.wrapper .facebook:hover svg{
  color: white;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}

.wrapper .my-active-tab{
  background-color: var(--color-variant);
  color: white !important;
}
.wrapper .my-active-tab svg{
  color: white;
}
@media (max-width: 990px) and (min-width: 768px){
  .tabs-container{
    width: 100%;
  }
  .tab-text h2{
    font-size: 1.2rem;
  }
  .tab-text p{
    font-size: .9rem;
  }
}
@media screen and (max-width: 767px){
  .tabs-container{
    width: 100%;
  }
  .tab-text h2{
    font-size: 1.2rem;
  }
  .tab-text p{
    font-size: .9rem;
  }
  .wrapper .icon{
    font-size: 14px;
    height: 45px;
    width: 45px;
  }
  .tab-content{
    flex-direction: column-reverse;
    height: auto;
    padding-left: 0px;
  }
  .tab-img-container{
    width: 100%;
    height: auto;
  }
  .tab-text{
    width: 100%;
    margin-left: 0px;
    padding: 20px 0px;
  }
  .roadmap-section{
    height: auto;
  }

}